<%- include('../layouts/header.ejs') %>
                    <div class="container-fluid">
                        <div class="text-center">
                            <div class="error mx-auto" data-text="404">404</div>
                            <p class="lead text-gray-800 mb-5">Sayfa Bulunamadı</p>
                            <a href="/">← Anasayfaya Dön</a>
                        </div>
                    </div>
<%- include('../layouts/footer.ejs') %>