<%- include('../layouts/header.ejs') %>
                    <div class="container-fluid">
                        <h1 class="h3 mb-4 text-gray-800">
                            Anasayfa
                        </h1>
                    </div>
<%- include('../layouts/footer.ejs') %>